<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <input name="creator_id" type="hidden" value="<%= current_user.id %>" /> 
    <%= f.input :validator_id,  collection: User.with_role(:validator) %>
    <%= f.input :title %>
    <%= f.input :description %>

    <%= f.simple_fields_for :targets do |t| %>
      <%= render 'target_fields', targ: t %>   
    <% end %>
    <%= link_to_add_target_field "Add target", f, :targets %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
